* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    height: 5.3125rem;
    background-color: #006633;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.menu-texts, .menu-icons>a{
    display: none;
    color: white;
}

.menu{
    font-size: 1.5rem;
}

.logo{
    background-image: url("https://www.ajandeknyomda.com/!common_design/custom/ajandeknyomda.unas.hu/element/layout_hu_header_logo-300x80_1_default.png?time=1621968188");
    background-size: cover;
    height: 2.511rem;
    width: 8.505rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu:hover, .logo:hover{
    cursor: pointer
}

.notification{
    padding-inline: 1rem;
    font-size: 1.5rem;
}

.profile-pic{
    width: 2rem;
    height: 2rem;
    outline: 1px solid white;
    border-radius: 100%;
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.menu-icons>a:last-of-type{
    display: block;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}


/* RESZPONZIVITÃS */

@media(min-width: 425px)
{
    .logo{
        height: 3.1rem;
        width: 10.5rem;
    }
    .menu, .notification, .menu-icons>a:last-of-type{
        font-size: 2rem;
    }
    .notification{
        padding-inline: 1.5rem;
    }

    .profile-pic{
        right: 4rem;
        width: 3rem;
        height: 3rem;
    }

}

@media(min-width: 768px)
{
    .notification{
        display: none;
    }

    .menu-icons>a{
        display: block;
    }

    .menu-icons>a:last-of-type{
        position: static;
        transform: translate(0,0);
    }

    .profile-pic{
        right: 1rem;
    }

    .menu-icons{
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 4.5rem;
        transform: translateY(-50%);
        display: flex;
        
    }

    .menu-icons>a{
        margin: .5rem;
    }


    .logo{
        position: static;
        transform: translate(0, 0);
        margin-left: 1rem;
    }
}


@media(min-width: 1024px)
{
    .logo{
        margin-right: 2rem;
        height: 3.1rem;
        width: 13.75rem;
    }

    .menu-texts{
        display: block;
        font-size: 1.2rem;
        width: 100%;
    }

    .menu-texts>a{
        color: white;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        width: min-content;
        margin-right: .5rem;
    }

    .menu-text:before{
        display: inline-block;
        position: static;
        width: min-content;
        font-size: 1.5rem;
        background: none;
        font-family: "Font Awesome 5 Pro", sans-serif;
        margin-right: .5rem;
        font-weight: 900;
    }

    .interviews:before{
        content: '\f130';
    }
    
    .portraits:before{
        content: '\f3e0';
    }

    .analyzes:before{
        content: '\f643';
    }

    .culture:before{
        content: '\f02d';
    }

    .menu-text:hover{
        text-decoration: underline;
    }

}

@media(min-width: 1440px)
{
    .logo{
        height: 2.9rem;
        width: 12rem;
    }
}