* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    height: 5.3125rem;
    background-color: #006633;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.menu-texts, .menu-icons>a{
    display: none;
    color: white;
}

.menu{
    font-size: 1.5rem;
}

.logo{
    background-image: url("https://www.ajandeknyomda.com/!common_design/custom/ajandeknyomda.unas.hu/element/layout_hu_header_logo-300x80_1_default.png?time=1621968188");
    background-size: cover;
    height: 2.511rem;
    width: 8.505rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu:hover, .logo:hover{
    cursor: pointer
}

.notification{
    padding-inline: 1rem;
    font-size: 1.5rem;
}

.profile-pic{
    width: 2rem;
    height: 2rem;
    outline: 1px solid white;
    border-radius: 100%;
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: outline .1s ease-in;
}

.profile-pic:hover{
    outline: 5px solid #cc7777;
}


.menu-icons>a:last-of-type{
    display: block;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.second-container{
    display: none;
}


/* RESZPONZIVITÁS */

@media(min-width: 425px)
{
    .logo{
        height: 3.1rem;
        width: 10.5rem;
    }
    .menu, .notification, .menu-icons>a:last-of-type{
        font-size: 2rem;
    }
    .notification{
        padding-inline: 1.5rem;
    }

    .profile-pic{
        right: 4rem;
        width: 3rem;
        height: 3rem;
    }

}

@media(min-width: 768px)
{
    .notification{
        display: none;
    }

    .menu-icons>a{
        display: block;
    }

    .menu-icons>a:last-of-type{
        position: static;
        transform: translate(0,0);
    }

    .profile-pic{
        right: 1rem;
    }

    .menu-icons{
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 4.5rem;
        transform: translateY(-50%);
        display: flex;
        
    }

    .menu-icons>a{
        margin: .5rem;
    }


    .logo{
        position: static;
        transform: translate(0, 0);
        margin-left: 1rem;
    }
}


@media(min-width: 1024px)
{
    .logo{
        margin-right: 2rem;
        height: 3.1rem;
        width: 13.75rem;
    }

    .menu-texts{
        display: block;
        font-size: 1.2rem;
        width: 100%;
    }

    .menu-texts>a{
        color: white;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        width: min-content;
        margin-right: .5rem;
    }

    .menu-text:before{
        display: inline-block;
        position: static;
        width: min-content;
        font-size: 1.5rem;
        background: none;
        font-family: "Font Awesome 5 Pro", sans-serif;
        margin-right: .5rem;
        font-weight: 900;
    }

    .interviews:before{
        content: '\f130';
    }
    
    .portraits:before{
        content: '\f3e0';
    }

    .analyzes:before{
        content: '\f643';
    }

    .culture:before{
        content: '\f02d';
    }

    .menu-text:hover{
        text-decoration: underline;
    }


    /* Második sorra vonatkozó CSS */ 

    .second-container{
        display: block;
    }

    .nav-circle-element-block{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        border: none;
        background-color: #55AE3A;
        position: relative;
        transition: border-radius .1s ease-in;
    }

    .person{
        width: 4.5rem;
        height: 4.5rem;
        background-color: transparent;

    }
    .person>img{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        outline: 1px solid white;
        position: absolute;
        transition: outline .1s ease-in-out;
    }

    .nav-circle-element{
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-circle-element-block:hover{
        border-radius: 10%;
    }

    .person>img:hover{
        outline: 5px solid #cc7777;
    }

    .theme>img, .documents>img{
        filter: brightness(0) invert(1);
    }

    .right-side{
        float: right;
    }

    .current-elements, .date, .nav-circle-element-block, .search-bar, .right-side{
        display: inline-block;
    }

    .search-bar{
        width: 25rem;
        height: 5rem;
        position: relative;
    }

    .search-bar>input{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2.75rem;
        border: 1px solid black;
        background: #B1DDC4;
        font-size: 2rem;
        font-family: "Roboto", sans-serif;
        color: #006633;
        padding-left: 5.6rem;
        font-weight: 900;
    }

    .search-bar>input::placeholder{
        color: #55AE3A;
        font-weight: 100;
    }

    .search-bar::before{
        content: '\f002';
        font-family: "Font Awesome 5 Pro", sans-serif;
        display: block;
        position: absolute;
        font-size: 2.5rem;
        color: #006633;
        z-index: 99;
        font-weight: 900;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .search-bar::after{
        content: '';
        background: white;
        display: block;
        position: absolute;
        width: 2px;
        height: 80%;
        left: 4.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .date{
        width: 16.75rem;
        height: 5rem;
        text-align: center;
        position: relative;
        display: inline-block;
        top: 0;
        border: 1px solid black;
        overflow: auto;
        line-height: 100%;
        background-color: #B1DDC4;
        border-radius: 2.75rem;
        color: #363636;
    }

    .date-btn{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background: none;
        border: none;
        outline: none;
        width: 1rem;
        padding: none;
        margin: none;
        font-size: 1.2rem;
        text-align: center;
        cursor: pointer;
        transition: color .1s ease-in-out;
    }

    .date-btn:hover{
        color: #cc7777;
    }

    .date-btn:nth-of-type(1)
    {
        left: 1.4rem;
        text-align: center;
    }

    .date-btn:nth-of-type(2)
    {
        left: 2.8rem;
    }

    .date-btn:nth-of-type(3)
    {
        right: 1.8rem;
    }

    .date-btn:nth-of-type(4)
    {
        right: .4rem;
    }

    h3.current-date{
        display: block;
        font-size: 1.4rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media(min-width: 1440px)
{
    .logo{
        height: 2.9rem;
        width: 12rem;
    }

    .search-bar{
        width: 50rem;
    }
}